<div class="col s3">
  <%= image_tag("whirlpool.png", width: '100%', alt: "whirlpool-logo" ) %>
</div>
<div class="col s3">
  <%= image_tag("amana.png", width: '100%', alt: "amana-logo" ) %>
</div>
<div class="col s3">
  <%= image_tag("lg.png", width: '100%', alt: "lg-logo" ) %>
</div>
<div class="col s3">
  <%= image_tag("samsung.png", width: '100%', alt: "samsung-logo" ) %>
</div>