<div class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Looking for Appliances</h1>
        <div class="row center">
          <h5 class="header white-text col s12 light">Get quotes from us and get great discounts in our stores </h5>
        </div>
        <div class="row center">
          <%= link_to "Get Started", appliances_path, class: "btn-large waves-effect waves-light teal lighten-1 z-depth-4" %>
        </div>
        <br><br>

      </div>
    </div>
  <div class="parallax"><%= image_tag("parallax1.jpg") %></div>
</div>
<div class="section white">
  <div class="row container">
    <h4 class="header center-align">All the best Brands</h4>
    <%= render 'brands' %>
  </div>
  <div class="row container">
    
  </div>
</div>

  

