<div class="row">
  <div class="container">
    <div class="col s12 center red-text">
      <% if obj.errors.any? %>
        <%= pluralize( obj.errors.count, 'error' ) %><em> have being encountered</em>
        <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>